<!-- Jinja Template derived from Bootstrap base template -->
{% extends "bootstrap/base.html" %}
<!-- Tooltip Title -->
{% block title %}Rate My Course | Home{% endblock %}
{% block head %}
    <!-- Preserve yhe style of the base template -->
    {{ super() }}
    <!-- Include Bootstrap CSS Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- In page styling - Background Image, Bootstrap Elements and Pagination elements -->
    <style>
        body {
            background-color: #501214;
            color: lightgray;
        }

        .navbar-gold {
            background-color: #6A5638;
        }
        .navbar-gold .nav-link{
            color: white;
        }

        .navbar-gold .navbar-brand {
            color: white;
            font-size: 3rem;
            text-align: center;
            padding-top: 15px;
        }

        .bg-maroon {
            background-color: #501214;
        }

        .bg-dark-gold {
            background-color: #6A5638;
        }

        .bg-gold {
            background-color: #EBBA45;
        }

        .bg-salmon {
            background-color: #CA2A2D;
        }

    </style>

{% endblock %}

{% block scripts %}
    <!-- Preserve scripts of base template -->
    {{ super() }}
    <!-- Include Bootstrap and jQuery scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

<!-- Navigation bar -->
{% include 'nav.html' %}


{% block content %}
    <div class="container-fluid" style="border-spacing: 10px 0px; min-height: 100%; height: 100%;">
        <div class="row">
            <div class="col bg-salmon" style="padding-bottom: 10px; height: 90%">
                <h2 class="text-center" style="font-size: 40px">Welcome to Rate my Course!</h2>
                <span style="display:block; font-size: 32px;" class="large text-center ">Login or Register below to get started!</span>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col btn bg-maroon"><a style="color: lightgray;" href="{{ url_for('login') }}">Login</a></div>
                        <div class="col btn bg-dark-gold"><a style="color: lightgray;" href="{{ url_for('register') }}">Register</a></div>
                    </div>
                </div>
            </div>
            <div class="col" style="background-color: #DB6450;">
                <h2 class="text-center" style="font-size: 40px">ABOUT</h2>
                <p class="text-center" style="font-size: 32px;">Rate My Course is built for college students. Relating to others interactions on the site has become a key way for students to deal with choosing courses to take. The site does what students have been doing forever - checking in with each other – their friends, their brothers, their sisters, their classmates – to figure out which classes are best and which ones you might want to avoid.</p>
            </div>
        </div>
    </div>
{% endblock %}
