{% extends "bootstrap/base.html" %}
<!-- Tooltip Title -->
{% block title %}Rate My Course | My Courses{% endblock %}
{% block head %}
    <!-- Preserve yhe style of the base template -->
    {{ super() }}
    <!-- Include Bootstrap CSS Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- In page styling - Background Image, Bootstrap Elements and Pagination elements -->
    <style>
        body {
            background-color: #501214;
            color: lightgray;
        }

        .bg-maroon {
            background-color: #501214;
        }

        .bg-dark-gold {
            background-color: #6A5638;
        }

        .bg-gold {
            background-color: #EBBA45;
        }

        .bg-salmon {
            background-color: #CA2A2D;
        }

        .courses {
            list-style: none;
        }

    </style>

{% endblock %}

{% block scripts %}
    <!-- Preserve scripts of base template -->
    {{ super() }}
    <!-- Include Bootstrap and jQuery scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% include 'nav.html' %}

{% block content %}
    <div class="container" style="border-spacing: 10px 0px; min-height: 100%; height: 100%;">
        <form action="" method="post" novalidate align="" style="">
            <div class="card text-dark bg-light">
                <h1 class="card-header">My Courses</h1>
                <div class="card-body" >
                    {{ form.hidden_tag() }}
                    <div class="border">
                        <label class="form-label fs-3">Courses</label>
                        <div class="border" style="max-height: 500px; overflow: scroll; overflow-x: hidden">
                        {{ form.courses(class_="form-control-input courses", type="checkbox") }}
                        </div>
                    </div>

                    {{ form.submit(class_="btn btn-primary") }}
                </div>
            </div>
        </form>
    </div>
    <script>
        function selected_completed(courses){
            courses.forEach(elem => {
                $(`input[value='${elem[0]}']`).prop( "checked", true );
            })
        }
        selected_completed({{ completed|safe }})
    </script>
{% endblock %}
