{% extends "bootstrap/base.html" %}
<!-- Tooltip Title -->
{% block title %}Rate My Course | Home{% endblock %}
{% block head %}
    <!-- Preserve yhe style of the base template -->
    {{ super() }}
    <!-- Include Bootstrap CSS Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- In page styling - Background Image, Bootstrap Elements and Pagination elements -->
    <style>
        body {
            background-color: #501214;
            color: lightgray;
        }

        .pagination
        {
            background-color: white;
            font-size: 15px;
        }
        .pagination > li > a
        {
            background-color: white;
            color: #5A4181;
            font-size: 15px;
        }

        .pagination > li > a:focus,
        .pagination > li > a:hover,
        .pagination > li > span:focus,
        .pagination > li > span:hover
        {
            color: #5a5a5a;
            background-color: #eee;
            border-color: #ddd;
        }

        .pagination > .active > a
        {
            color: white;
            background-color: #5A4181 !Important;
            border: solid 1px #5A4181 !Important;
        }

        .pagination > .active > a:hover
        {
            background-color: #5A4181 !Important;
            border: solid 1px #5A4181;
        }

        .navbar-gold {
            background-color: #6A5638;
        }
        .navbar-gold .nav-link{
            color: white;
        }

        .navbar-gold .navbar-brand {
            color: white;
            font-size: 3rem;
            text-align: center;
            padding-top: 15px;
        }

        .bg-maroon {
            background-color: #501214;
        }

        .bg-dark-gold {
            background-color: #6A5638;
        }

        .bg-gold {
            background-color: #EBBA45;
        }

        .bg-salmon {
            background-color: #CA2A2D;
        }

    </style>

{% endblock %}

{% block scripts %}
    <!-- Preserve scripts of base template -->
    {{ super() }}
    <!-- Include Bootstrap and jQuery scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

<!-- Navigation bar -->
{% include 'nav.html' %}

{% block content %}
    <div class="container-fluid" style="border-spacing: 10px 0px; min-height: 100%; height: 100%;">
        <div class="card">
            <form action="" method="post" novalidate align="" style="">
                <div class="input-group">
                    {{ form.hidden_tag() }}
                    {{ form.search(type="text", class_="form-control", placeholder="Search for a course!") }}
                    {{ form.submit(class_="input-group-text") }}
                </div>
            </form>
        </div>
        <br />
        <div class="card py-3">
            {% for course in courses %}
                <div class="card" style="border-spacing: 2px 2px;">
                    <h3><a style="color: darkgrey;" href="{{ url_for('course', course_id=course[0]) }}">{{ course[0] }} - {{ course[3] }}</a></h3>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}